// color schemes
$body-bg-color : #ddd;

$primary-color:rgb(48, 89, 252);
$secondary-color: hsl(209, 39%, 49%);
$accent-color: hsl(46, 66%, 40%);
$alert-color: rgb(174, 76, 76);
$dark-color: #696969;

$top-bar-color: #231f6e;
$footer-bar-color : #696969;

$header-bg-color: $primary-color;

$a-tag-bg-color : $primary-color;
$a-tag-bg-color-hover : $secondary-color;
$a-tag-bg-color-active : $accent-color;


